@import "tailwindcss";




.banner-img {
    @media (max-width: 991px) {
        display: none;
    }
}

.lg\:hidden a {
    color: black;
}

.lg\:hidden a:hover {
    color: #FF8C00;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;  
  }
  